* {
    --icon-unselected: #707070;
    --box: #1A1A1A;
    --box-hover: #202020;
    --box-button: #2e2b2b;
    --box-button-hover: #340401;
    --box-button-hover-2: #330905;
    --box-button-gradient-1: 	#ff0000;
    --box-button-gradient-2: 	#f62b2b;
}
.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--sidebar);
    border-right: 1px solid var(--sidebar-border);
    transition: all 0.5s;
    background: rgba( 0, 0, 0, 0.05 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 5px );
}

.login-tabs {
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
    background-color: var(--sidebar);
    border-right: 1px solid var(--sidebar-border);
    transition: all 0.2s;
    background: rgba( 0, 0, 0, 0.5 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
}

.connect,
.cancel {
    color: #fff;
    padding: 0.5rem 2rem; /* Ajuste del padding para hacerlo más limpio */
    font-size: 1rem;
    font-weight: 600; /* Un peso intermedio para el texto */
    margin: 10px;
    background-color: var(--box-button); /* Color principal */
    border: none; /* Eliminamos sombras y bordes innecesarios */
    border-radius: 20px; /* Bordes más suaves */
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición sencilla */
}

.connect:hover,
.cancel:hover {
    background-color: var(--box-button-hover); /* Color más oscuro al pasar el cursor */
    transform: scale(1.05); /* Pequeña ampliación para efecto interactivo */
}

.input-login .email,
.input-login .password,
.A2F {
    border: 2px solid transparent;
    width: 18em;
    height: 2.5em;
    padding-left: 0.8em;
    margin-top: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 18px;
    transition: all 0.5s;
}

.input-login .email:focus,
.input-login .password:focus,
.A2F:focus,
.input-login .email:hover,
.input-login .password:hover,
.A2F:hover {
    border: 2px solid #f98c8a;
    box-shadow: 0px 0px 0px 7px rgba(38, 39, 39, 0.2);
    background-color: white;
}